@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#imagem {
    background-image: url("../image/img_forca/forca.png");
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}

body {
    background-color: #232323;
    font-family: "Bungee", cursive;
    width: 100%;
    height: 90vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    user-select: none;
}

#palavra-secreta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 30px 0 30px 0;
}

.letras {
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #c51f5d;
    color: white;
    padding: 2px;
    margin: 0 2px 0 2px;
}

.letrasEspaco {
    width: 16px;
    text-align: center;
    color: white;
    padding: 2px;
    margin: 0 2px 0 2px;
}

.teclas button {
    cursor: pointer;
    box-shadow: 0 2px 8px black;
    border-radius: 100%;
    border: 1px solid black;
    color: #c51f5d;
    width: 20px;
}

.teclas button:disabled {
    cursor: not-allowed;
}

.teclas button:hover {
    transform: scale(1.4);
}

.teclas button:active {
    transform: scale(1.1);
}

.teclas button::selection {
    background-color: transparent;
}

#categoria {
    margin-top: 20px;
    font-size: 2.5em;
    color: #c51f5d;
}

/* aplicando media scren */

@media screen and (max-width: 320px) {
    .teclas button {
        width: 30px;
        height: 30px;
        font-size: 1em;
        margin: 0 18px;
    }

    .teclas {
        font-size: 32px;
    }

    #categoria {
        margin: 20px 0;
    }
}

@media screen and (min-width: 320px) {
    .teclas button {
        font-size: 0.6em;
    }

    #categoria {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 321px) {
    .teclas button {
        width: 36px;
        height: 36px;
        margin: 6px;
        font-size: 1.4em;
    }

    #categoria {
        font-size: 2.5em;
    }

    .letras {
        width: 28px;
    }

    #palavra-secreta {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 426px) {
    .teclas button {
        width: 32px;
        height: 32px;
        margin: 4px;
    }

    #categoria {
        font-size: 1.5em;
    }

    .letras {
        width: 20px;
    }

    #palavra-secreta {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 769px) {
    .teclas button {
        width: 50px;
        height: 50px;
        margin: 10px 10px 10px 80px;
        font-size: 2em;
    }

    #categoria {
        font-size: 2.5em;
    }

    .letras {
        width: 32px;
    }

    #palavra-secreta {
        font-size: 2em;
    }
}

/* 
@media screen and (min-width: 1024px) {


  #categoria {
    font-size: 2.5em;
  }

  .letras {
    width: 32px;
  }

  #palavra-secreta {
    font-size: 2em;
  }
} */
