* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#imagem {
    with: 234px;
    height: 272px;
    background-image: url("../image/img_forca/forca.png");
    background-repeat: no-repeat;
}