/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Nunito+Sans&display=swap");

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Layout */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.max-width {
  max-width: 1400px;
  padding: 0 80px;
  margin: auto;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

/* Tipografia */
.special-p {
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #556ff7;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #232323;
}

/* Seleção de texto */
::selection {
  background: #556ff7;
  color: #fff;
}

h2::selection {
  background: #ff9514;
  color: #fff;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  font-family: "Bungee", sans-serif;
  z-index: 999;
  transition: all 0.3s ease;
}

.navbar.sticky {
  background: #232323;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
}

.navbar .logo a span {
  color: #556ff7;
  transition: all 0.2s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  display: inline-block;
  list-style: none;
}

.navbar .menu li a {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #556ff7;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* Home */
.home {
  display: flex;
  background: url(../image/banner.png) no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  margin-left: 40px;
}

.home .home-content .text-1,
.home .home-content .text-2,
.home .home-content .text-3 {
  font-size: 40px;
}

.home .home-content .text-2 {
  font-family: "Bungee", sans-serif;
}

.home .home-content .text-3 {
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #556ff7;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #556ff7;
  color: black;
  font-size: 30px;
  padding: 12px 36px;
  margin-top: 30px;
  border-radius: 6px;
  border: 2px solid #556ff7;
}

.home .home-content a:hover {
  color: #556ff7;
  background: none;
}

/* Seções */
section {
  padding: 100px 0;
  background-color: #0a0d14;
}

section .title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  background: #0a0d14;
  color: #fff;
  padding: 5px;
  transform: translateX(-50%);
}

.about,
.projetos,
footer {
  font-family: "Roboto", sans-serif;
}

.about .about-content,
.projetos .projetos-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Sessão Sobre */
.about .title::after {
  content: "Quem sou eu";
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}

.about .about-content .right .text span {
  color: #556ff7;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: #556ff7;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: #fff;
  background: none;
}

.about .about-content .left img {
  width: 100%;
  object-fit: cover;
  max-width: 500px;
  border-radius: 50%;
}

.typed-color {
  color: #556ff7;
}

/* Sessão Projetos */
.projetos .title::after {
  content: "Já feitos";
}

/* Footer */
footer {
  background: #111;
  font-size: 16px;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: #556ff7;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}
